body{
	margin: 0;
	text-decoration: none;
	user-select: none;
	background-image: url("bc.jpg");
	background-size: cover;
	font-family: 'Dosis', sans-serif;
}
#board{
	margin: 0 auto; margin-top:3%;
	width: 600px; height: 600px;
	background-image: url("board.png");
	position: relative;
}
.rew{
	margin-top:2%; width: 85px;	height: 60px; float:left;
	border-radius: 25px; position: relative; opacity:0;
	transition: opacity 1s;
}
div.rew:hover{
	box-shadow: 5px 5px 23px #d8d8d8;
}
#b_i, #w_i{
	opacity:1; transition: opacity 1s;
}
#reset, #switch{
	opacity:0.3; transition: opacity 1s;
}
#reset:hover, #switch:hover{
	opacity:0.6;
}
#pas, #res, #sum, #upload, #download{
	margin-left:325px; opacity:0.4; transition: opacity 1s;
}
#pas:hover, #res:hover, #sum:hover, #download:hover{
	opacity:0.6;
}
.modal{
  position: fixed;
  z-index: 1;
  padding-top: 12%;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.2);
  pointer-events: none;
  opacity:0; transition:opacity 1s;
}
.modal-content{
  background-color: #2d2d2d;
  margin: auto; padding: 5px;
  border: 2px solid #252525;
  width: 610px;
  color: white;
  opacity:0.8;
}